.tweet{
    border: 2px solid gray;
    padding: 5px;
}

.tweet-header{
    display: flex;
}

.tweet-info{
    display: flex;
    flex-direction: column;
}

.tweet-pb{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: inline;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }